@keyframes lineanimation {
  0% {
    transform: scaleX(0); }
  25% {
    transform: scaleX(0.25); }
  50% {
    transform: scaleX(0.5); }
  75% {
    transform: scaleX(0.75); }
  100% {
    transform: scaleX(1); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  font-family: "Ubuntu", sans-serif;
  background-color: #f7f7f7; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

.head-1 {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  color: #f7f7f7; }

.head-2 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  color: #f7f7f7;
  letter-spacing: 0.7rem;
  border-bottom: 1px solid #f7f7f7;
  display: inline-block; }
  @media only screen and (max-width: 25em) {
    .head-2 {
      font-size: 2.5rem; } }

.nav {
  background-image: linear-gradient(to right bottom, rgba(239, 98, 159, 0.8), #ef629f); }

.section-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 50em) {
    .section-header {
      grid-template-columns: 1fr; } }

.btn:link,
.btn:visited {
  display: inline;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  width: 16rem;
  height: 6rem;
  background-color: #f7f7f7;
  border-radius: 3rem;
  text-align: center;
  color: #2c3e50;
  font-size: 2rem;
  padding: 1rem;
  transition: all 0.3s ease-out;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .btn:link:hover,
  .btn:visited:hover {
    color: #f7f7f7;
    background-color: #2c3e50;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.card {
  margin: 5rem 3rem;
  min-width: 25%;
  height: 35rem;
  background-color: #2c3e50;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s; }
  .card:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4); }
  .card--img {
    position: relative;
    width: 100%;
    height: 80%; }
    .card--img-1 {
      transition: all 0.3s linear;
      opacity: 1;
      z-index: 2; }
      .card--img-1:hover {
        opacity: 0; }
    .card--img img {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 1rem; }
  .card--detail {
    padding: 1rem;
    margin-top: 1rem;
    color: #fff;
    z-index: -1;
    transform: translateY(-0.5rem); }
    .card--detail__name {
      font-size: 2rem;
      text-align: center;
      font-weight: 200;
      margin-bottom: 0.5rem; }
    .card--detail__price {
      font-size: 1.8rem;
      text-align: center;
      font-weight: 400;
      margin-top: -0.5rem; }
      .card--detail__price--amount {
        color: #ce5e5e;
        text-decoration: line-through;
        margin: 1rem; }
      .card--detail__price--offer {
        color: #6ed86e;
        margin-left: 2rem; }

.nav {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  border-radius: 5rem;
  box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear; }
  @media only screen and (max-width: 50em) {
    .nav {
      flex-direction: column;
      font-size: 2rem;
      border-radius: 0; } }
  .nav:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .nav--brand-name {
    text-align: center;
    margin: 0 auto;
    font-size: 3.5rem;
    font-family: "Potta One", cursive;
    color: #0f0c29;
    text-transform: uppercase;
    font-style: italic; }
    @media only screen and (max-width: 50em) {
      .nav--brand-name {
        font-size: 4rem; } }
  .nav--circle {
    width: 4rem;
    height: 4rem;
    background-color: #f7f7f7;
    border-radius: 50%;
    margin-left: 2rem; }
  .nav--elements {
    width: 45%;
    margin-right: 2rem;
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 50em) {
      .nav--elements {
        flex-direction: column;
        font-size: 3rem;
        justify-content: center;
        align-items: center; } }
    .nav--elements .underline {
      width: 5rem;
      height: 1px;
      margin: 0 auto;
      background-color: #f7f7f7; }
      @media only screen and (max-width: 50em) {
        .nav--elements .underline {
          display: none; } }
    .nav--elements div:hover .underline {
      width: 5rem;
      height: 1px;
      margin: auto;
      background-color: #f7f7f7;
      animation: lineanimation 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
    .nav--elements a {
      text-decoration: none;
      color: #f7f7f7;
      letter-spacing: 1px; }
      @media only screen and (max-width: 50em) {
        .nav--elements a {
          display: block;
          border-bottom: 1px solid #f7f7f7; } }

.header {
  height: 70vh;
  background-size: cover;
  background-position: top;
  position: relative;
  margin-top: 1rem;
  border-radius: 2rem;
  background-image: linear-gradient(to right bottom, rgba(239, 98, 159, 0.8), rgba(238, 205, 163, 0.8)), url(../img/background.jpg);
  margin-bottom: 4rem;
  padding: 6rem; }
  @media only screen and (max-width: 50em) {
    .header {
      text-align: center;
      border-radius: 0;
      margin-top: 0; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 0; } }
  .header--logo-box {
    width: 30vw;
    height: auto;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 50em) {
      .header--logo-box {
        width: 60vw;
        display: flex;
        justify-content: center; } }
  .header--logo {
    width: 60%;
    height: auto; }
  .header--heading {
    line-height: 4rem;
    margin-bottom: 3rem;
    grid-row: 2 / 3; }
  .header--button {
    grid-row: 3 / 4; }
  .header--first-half {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .header--first-half {
        align-items: center; } }
  .header--second-half {
    margin: -6rem;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    @media only screen and (max-width: 62.5em) {
      .header--second-half {
        display: none; } }
  .header--img-1 {
    z-index: 2; }
    .header--img-1 img {
      width: 100%;
      height: 100%;
      margin-left: 8rem;
      opacity: 0.8;
      object-fit: cover;
      display: block; }
  .header--img-2 {
    display: inline;
    margin-bottom: 3rem;
    overflow: hidden; }
    .header--img-2 img {
      width: 100%;
      border-radius: 2rem;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 0.5;
      clip-path: polygon(100% 0, 100% 100%, 0 50%); }

.collection {
  margin-bottom: 3rem; }
  .collection--link {
    display: flex;
    justify-content: flex-end; }
    .collection--link__see-more:link, .collection--link__see-more:visited {
      text-decoration: none;
      font-size: 2rem;
      margin-right: 3rem;
      margin-top: -2rem;
      background: -webkit-linear-gradient(#ef629f, #eecda3);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 1px solid #ef629f; }
  .collection--text {
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    background: -webkit-linear-gradient(#ef629f, #eecda3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #ef629f; }
  .collection--item {
    width: 35rem;
    height: 30rem;
    margin: 5rem 3rem;
    border-radius: 1rem;
    background-size: cover;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.4s;
    color: transparent; }
    @media only screen and (max-width: 62.5em) {
      .collection--item {
        color: #f7f7f7; } }
    .collection--item__text {
      text-align: center;
      font-size: 3rem;
      font-weight: 100;
      font-family: "Ubuntu", sans-serif;
      margin: 0 auto; }
    .collection--item:hover {
      color: #f7f7f7;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
    .collection--item-1 {
      position: relative;
      background-image: linear-gradient(to right bottom, rgba(44, 62, 80, 0.4), rgba(44, 62, 80, 0.3)); }
      .collection--item-1 img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        z-index: -1;
        position: absolute;
        object-fit: cover; }
    .collection--item-2 {
      position: relative;
      background-image: linear-gradient(to right bottom, rgba(44, 62, 80, 0.4), rgba(44, 62, 80, 0.3)); }
      .collection--item-2 img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        z-index: -1;
        position: absolute;
        object-fit: cover; }
    .collection--item-3 {
      position: relative;
      background-image: linear-gradient(to right bottom, rgba(44, 62, 80, 0.4), rgba(44, 62, 80, 0.3)); }
      .collection--item-3 img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        z-index: -1;
        position: absolute;
        object-fit: cover; }
    .collection--item-4 {
      position: relative;
      background-image: linear-gradient(to right bottom, rgba(44, 62, 80, 0.4), rgba(44, 62, 80, 0.3)); }
      .collection--item-4 img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        z-index: -1;
        position: absolute;
        object-fit: cover; }
  .collection--items {
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 62.5em) {
      .collection--items {
        margin: 5rem 1rem;
        flex-wrap: wrap; } }
    @media only screen and (max-width: 50em) {
      .collection--items {
        flex-direction: column;
        align-items: center;
        text-align: center; } }

.best-sellers {
  margin: 3rem;
  padding: 1rem; }
  .best-sellers--cards {
    margin-left: -3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.features {
  background-color: #ef629f;
  border-radius: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #fff; }
  .features--logo {
    width: 20vw;
    height: auto;
    margin: 0 auto;
    padding: 2rem; }
    @media only screen and (max-width: 50em) {
      .features--logo {
        width: 40vw; } }
    @media only screen and (max-width: 37.5em) {
      .features--logo {
        width: 50vw; } }
    .features--logo img {
      width: 100%;
      height: 100%; }
  .features--items {
    display: flex;
    justify-content: space-between;
    padding: 3rem; }
    @media only screen and (max-width: 50em) {
      .features--items {
        flex-direction: column;
        align-items: center; } }
  .features--item {
    width: 33.33%;
    padding: 1rem;
    font-family: "Nunito", sans-serif;
    color: #f7f7f7;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .features--item {
        width: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .features--item {
        padding: 1rem;
        width: 90%; } }
    .features--item__head {
      font-size: 2.5rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 1rem; }
      @media only screen and (max-width: 50em) {
        .features--item__head {
          font-size: 3rem; } }
    .features--item__text {
      font-size: 1.5rem;
      font-weight: 200; }
      @media only screen and (max-width: 50em) {
        .features--item__text {
          font-size: 2rem; } }
  .features--item:not(:last-child) {
    border-right: 1px solid #000; }
    @media only screen and (max-width: 50em) {
      .features--item:not(:last-child) {
        border-bottom: 1px solid #000;
        border-right: none; } }

.services {
  background-color: #ef629f;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  text-align: left;
  line-height: 1.6rem;
  width: 100%;
  font-family: "Nunito", sans-serif; }
  @media only screen and (max-width: 50em) {
    .services {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; } }
  .services h4 {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #f7f7f7;
    margin-bottom: 1rem;
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 0.5rem; }
    @media only screen and (max-width: 50em) {
      .services h4 {
        font-size: 3rem; } }
  .services--newsletter {
    width: 37%;
    margin-left: 6rem;
    justify-self: flex-end; }
    @media only screen and (max-width: 50em) {
      .services--newsletter {
        width: 50%;
        justify-self: center;
        margin-bottom: 5rem;
        margin-left: 0; } }
    @media only screen and (max-width: 37.5em) {
      .services--newsletter {
        width: 90%;
        justify-self: center;
        margin-bottom: 5rem;
        margin-left: 0; } }
    .services--newsletter p {
      font-size: 1.4rem;
      font-weight: 200;
      color: #f7f7f7;
      margin-bottom: 1rem; }
    .services--newsletter input {
      font-size: 1.5rem;
      font-family: inherit;
      width: 70%;
      padding: 0.5rem;
      border: none;
      transition: all 0.2s; }
      @media only screen and (max-width: 50em) {
        .services--newsletter input {
          margin-left: 6rem; } }
      .services--newsletter input:focus {
        outline: none;
        border-bottom: 2px solid #2c3e50; }
    .services--newsletter form {
      height: 100%;
      display: flex; }
      .services--newsletter form button {
        display: inline-block;
        height: 3.2rem;
        outline: none;
        border: none;
        color: #f7f7f7;
        width: 3.5rem;
        margin-left: 1px;
        background-color: #2c3e50;
        cursor: pointer;
        transition: all 0.2s; }
        .services--newsletter form button:hover {
          color: #2c3e50;
          background-color: #f7f7f7; }
  .services--customer {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    margin-right: 12rem;
    list-style: none; }
    @media only screen and (max-width: 50em) {
      .services--customer {
        margin-right: 0; } }
    @media only screen and (max-width: 37.5em) {
      .services--customer {
        margin-right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .services--customer a:link,
    .services--customer a:visited {
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 200;
      color: #f7f7f7;
      transition: all 0.2s linear; }
      .services--customer a:link:hover,
      .services--customer a:visited:hover {
        color: #2c3e50; }
    .services--customer__faq {
      margin-right: 6rem; }
      @media only screen and (max-width: 50em) {
        .services--customer__faq {
          margin-bottom: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .services--customer__faq {
          margin-right: 0;
          margin-bottom: 3rem; } }

.footer {
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: #eecda3;
  display: flex;
  padding: 2rem 5rem;
  justify-content: space-between; }
  .footer p {
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
    color: #2c3e50; }
  .footer--links {
    display: flex;
    justify-content: space-between; }
    .footer--links a {
      margin-left: 2rem;
      text-decoration: none;
      font-size: 1.5rem;
      font-family: "Nunito", sans-serif;
      color: #2c3e50;
      transition: all 0.2s;
      border-bottom: 1px solid transparent; }
      .footer--links a:hover {
        color: #f7f7f7;
        border-bottom: 1px solid #f7f7f7; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 3.5rem;
  left: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 2rem;
      left: 2rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  left: 6rem;
  background-image: radial-gradient(#ef629f, #eecda3);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 2rem;
      left: 2rem; } }

.navigation__nav {
  opacity: 0;
  height: 100vh;
  width: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ef629f;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  margin-top: 3rem;
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #2c3e50;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }
