.collection {
  margin-bottom: 3rem;
  &--link {
    display: flex;
    justify-content: flex-end;
    &__see-more:link,
    &__see-more:visited {
      text-decoration: none;
      font-size: 2rem;
      margin-right: 3rem;
      margin-top: -2rem;
      background: -webkit-linear-gradient($color-primary, $color-secondary);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 1px solid $color-primary;
    }
  }

  &--text {
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    background: -webkit-linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid $color-primary;
  }

  &--item {
    width: 35rem;
    height: 30rem;
    margin: 5rem 3rem;
    border-radius: 1rem;
    background-size: cover;
    box-shadow: 0 1rem 2rem rgba(#000, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.4s;
    color: transparent;

    @media only screen and (max-width: $bp-large) {
      color: $color-grey-light-1;
    }

    &__text {
      text-align: center;
      font-size: 3rem;
      font-weight: 100;
      font-family: $font-primary;
      margin: 0 auto;
    }

    &:hover {
      color: $color-grey-light-1;
      box-shadow: 0 1rem 3rem rgba(#000, 0.3);
    }

    &-1 {
      position: relative;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-grey-dark, 0.4),
        rgba($color-grey-dark, 0.3)
      );

      @include image-fit;
    }
    &-2 {
      position: relative;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-grey-dark, 0.4),
        rgba($color-grey-dark, 0.3)
      );
      @include image-fit;
    }
    &-3 {
      position: relative;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-grey-dark, 0.4),
        rgba($color-grey-dark, 0.3)
      );
      @include image-fit;
    }
    &-4 {
      position: relative;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-grey-dark, 0.4),
        rgba($color-grey-dark, 0.3)
      );
      @include image-fit;
    }
  }

  &--items {
    display: flex;
    justify-content: space-around;
    @media only screen and (max-width: $bp-large) {
      margin: 5rem 1rem;
      flex-wrap: wrap;
    }
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}
