.footer {
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: $color-secondary;
  display: flex;
  padding: 2rem 5rem;
  justify-content: space-between;

  p {
    font-size: 1.5rem;
    font-family: $font-secondary;
    color: $color-grey-dark;
  }

  &--links {
    display: flex;
    justify-content: space-between;
    a {
      margin-left: 2rem;
      text-decoration: none;
      font-size: 1.5rem;
      font-family: $font-secondary;
      color: $color-grey-dark;
      transition: all 0.2s;
      border-bottom: 1px solid transparent;

      &:hover {
        color: $color-grey-light-1;
        border-bottom: 1px solid $color-grey-light-1;
      }
    }
  }
}
