.nav {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  font-family: $font-secondary;
  font-size: 1.8rem;
  border-radius: 5rem;
  box-shadow: 0 0.7rem 1.5rem rgba(#000, 0.3);

  transition: all 0.2s linear;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(#000, 0.3);
  }

  &--brand-name {
    text-align: center;
    margin: 0 auto;
    font-size: 3.5rem;
    font-family: $font-tertiary;
    color: $color-tertiary;
    text-transform: uppercase;
    font-style: italic;
  }

  &--circle {
    width: 4rem;
    height: 4rem;
    background-color: $color-grey-light-1;
    border-radius: 50%;
    margin-left: 2rem;
  }

  &--elements {
    width: 45%;
    margin-right: 2rem;
    display: flex;
    justify-content: space-around;

    .underline {
      width: 5rem;
      height: 1px;
      margin: 0 auto;
      background-color: $color-grey-light-1;
    }

    div:hover .underline {
      width: 5rem;
      height: 1px;
      margin: auto;
      background-color: $color-grey-light-1;
      animation: lineanimation 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    }

    a {
      text-decoration: none;
      color: $color-grey-light-1;
      letter-spacing: 1px;
    }
  }
}
