.btn:link,
.btn:visited {
  display: inline;
  text-decoration: none;
  font-family: $font-primary;
  width: 16rem;
  height: 6rem;
  background-color: $color-grey-light-1;
  border-radius: 3rem;
  text-align: center;
  color: $color-grey-dark;
  font-size: 2rem;
  padding: 1rem;
  transition: all 0.3s ease-out;

  box-shadow: 0 1rem 2rem rgba(#000, 0.5);

  &:hover {
    color: $color-grey-light-1;
    background-color: $color-grey-dark;
    box-shadow: 0 1rem 2rem rgba(#000, 0.15);
  }
}
