*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px 10/16 = 62.5%
}

body {
  box-sizing: border-box;
  padding: 3rem;
  font-family: $font-primary;
  background-color: $color-grey-light-1;
}
