.head-1 {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: $font-secondary;
  color: $color-grey-light-1;
}

.head-2 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $font-secondary;
  color: $color-grey-light-1;
  letter-spacing: 0.7rem;
  border-bottom: 1px solid $color-grey-light-1;
  display: inline-block;
}
